/*

!/app
/app/*
!/app/User.php
!/app/Phone.php
!/app/Photo.php

!/database
/database/*
!/database/migrations
/database/migrations/*
!/database/migrations/2015_07_28_020305_test_migration.php
!/database/seeds
/database/seeds/.gitkeep

!/tests
/tests/TestCase.php
/tests/ExampleTest.php

!/.gitignore